[package]
name = "migration"
version.workspace = true
edition.workspace = true

[dependencies]
sea-orm-migration.workspace = true
tokio.workspace = true
async-trait.workspace = true
uuid.workspace = true
tsa-adapter-seaorm.workspace = true
